/* Navbar */
.navbar {
  position: fixed;
  background-color: #D4967D; /* Button background */
  display: flex;
  width: 100%;
  justify-content: space-between; /* Space between buttons */
  align-items: top;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 55px;
  z-index: 10;
}

div.navbar button {
  opacity: 1;
}

.nav_bar_button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #D4967D; /* Button background */
  border: none;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
}

.nav_bar_button div {
  position: absolute;
  width: 25px;
  height: 3px;                  /* Line width */
  background-color: #FFFFFF; /* Line color */
}

.nav_bar_button div:nth-child(1) {
  top: 14px;
}

.nav_bar_button div:nth-child(2) {
  top: 24px;
}

.nav_bar_button div:nth-child(3) {
  top: 34px;
}

.company_name {
  border: none;
  background-color: #D4967D;
  color: #FFFFFF;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: -0.01em;
  font-size: 2rem;
  padding: 0px;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #303636;
  opacity: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  padding-top: 3%;
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 100px;
}

.overlay a {
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  font-size: 36px;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
}

.overlay-content a {
  transition: opacity 0.3s ease;  /* Smooth transition */
}

.overlay-content a:hover {
  text-decoration: underline;
}

/* Permanent underline for clicked item */
.overlay-content a.underlined {
  opacity: 1;
  text-decoration: underline !important;
}

.overlay-content a.highlighted {
  opacity: 1 !important;
}

.overlay-content a.faded {
  opacity: 0.5;  /* Fade out effect */
}

.nav_group {
  display: block;  /* Keeps text and arrow grouped */
  padding: 8px;
}

.overlay i {
  text-decoration: none;
  margin-right: 30px;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.5;
}

.overlay-content i {
  transition: opacity 0.3s ease;  /* Smooth transition */
}

.overlay-content i:hover {
  opacity: 1;
}

/* Permanent underline for clicked item */
.overlay-content i.highlighted {
  opacity: 1 !important;
}

.overlay-content i.faded {
  opacity: 0.5;
}

.overlay .closebtn {
  padding: 8px;
  position: absolute;
  top: 12px;
  left: 53px;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Smooth transition for rotation */
}

.overlay .closebtn.rotate {
  transform: rotate(-90deg); /* Apply 90-degree rotation */
}

.arrow_right {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.overlay-container {
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
}

.overlay-column {
  display: block;
  flex: 1; /* Distributes equal space to each column */
  padding: 10px;
  max-height: 100vh; /* Set the maximum height */
  overflow-y: auto;  /* Enable vertical scrolling when content overflows */
  min-width: 33.5%;
}

.overlay-column-2 {
  display: hidden;
  flex: 1; /* Distributes equal space to each column */
  padding: 10px;
  max-height: 100vh; /* Set the maximum height */
  overflow-y: auto;  /* Enable vertical scrolling when content overflows */
  min-width: 38%;
}

.overlay-column-3 {
  display: hidden;
  flex: 1; /* Distributes equal space to each column */
  padding: 10px;
  max-height: 100vh; /* Set the maximum height */
  overflow-y: auto;  /* Enable vertical scrolling when content overflows */
}